@import './Variables.scss';

aside {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: 'Karla', sans-serif;
  width: 20vw;
  min-width: 250px;
  background-color: $panelColor;
  opacity: 1;
  transition: opacity 500ms linear;
  padding: $spacing;

  &.hidden {
    opacity: 0;
  }

  .weatherInfo {
    border: $devBorder solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: $spacing *2;
    
    .place {
      border: $devBorder solid cyan;
      font-size: 4vh;
      font-weight: 600;

    }
    .temp {
      border: $devBorder solid lime;
      font-size: 5.5vh;
    }
    .tempMinMax {
      border: $devBorder solid cyan;
      font-size: 2.5vh;
    }
    .weatherIcon {
      border: $devBorder solid lime;
      height: 175px;
    }
  }

  .limitations {
    border: $devBorder solid pink;
    text-align: justify;
    padding: 10px;
    color: darkgrey;
    width: 100%;
  }
}
