@import '~mapbox-gl/dist/mapbox-gl.css';
$popUpColor: rgba(68, 68, 68, 0.85);
$popUpEdge: #fff;
$mapTempColor: #222;
$panelColor: #eee;

html,
body {
  margin: 0;
  padding: 0;
  background-color: $panelColor;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.map {
  width: 100vw;
  height: 100vh;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: 'Karla', sans-serif;

  .weatherInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 5vh;
    background-color: $panelColor;
    width: 20vw;

    .place {
      font-size: 3vh;
    }
    .temp {
      font-size: 5.5vh;
    }
    .tempMinMax {
      font-size: 2.5vh;
    }
    .weatherIcon {
      height: 175px;
    }
  }

  .limitations {
    text-align: justify;
    padding: 10px;
    color: darkgrey;
    width: 20vw;
  }
}

div {
  color: $mapTempColor;
}

.custom-marker {
  color: $mapTempColor;
  height: 7vh;
  font-size: 20px;
  opacity: 0.8;
  transition: opacity 1s;
  transition: height 0.2s;
}

.custom-marker:hover {
  height: 12vh;
  opacity: 1;
}

.mapboxgl-popup-content {
  text-align: center;
  color: $mapTempColor;
  border-radius: 20%;
  background-color: $popUpEdge;
  border: 0px solid $popUpEdge;
  margin: 0px;
  font-size: 11px;
  font-weight: 200;
  line-height: 3px;
}
