@import '~mapbox-gl/dist/mapbox-gl.css';
@import './Variables.scss';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $panelColor;
}

* {
  box-sizing: border-box;
  overflow: none;
}

main {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  overflow: none;
}

.map {
  border: $devBorder solid orange;
  flex: 1;
  height: 100%;
}

div {
  color: $mapTempColor;
}

.mapboxgl-popup-content {
  text-align: center;
  color: $mapTempColor;
  border-radius: 20%;
  background-color: $popUpEdge;
  border: 0px solid $popUpEdge;
  margin: 0px;
  font-size: 11px;
  font-weight: 200;
  line-height: 3px;
}
